.dropdown-check-list {
    display: inline-block;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .anchor {
    color: #0094ff;
}

.dropdown-check-list.visible .items {
    display: block;
}





/* GUI sketch panel + layer panel */
#simulatorGUI {
    visibility:hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#simulatorContainer {
    max-width: min-content;
}

#simulatorView {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#simulatorView span {
    text-align: center;
}

#mainContent {
    display: flex;
    flex-direction: row;
    max-height: min-content;
}

#container {
    display: flex;
}

#layerPanel {
    display: flex;
    flex-flow: column;
    margin:0;
    padding:0;
}

#layerPanel form {
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-sizing: border-box;
    background-color: lightgrey;
    border-style: solid;
    border-width: 2px;
    flex-grow: 1;
}
#layerPanel form div {
    border-bottom-style: solid;
    border-width: 2px;
}


/* GUI informationpanel */
#informationPanelContainer {
    display: flex;
    flex-direction: row;
}

#informationPanel {
    flex-grow: 1;
}

#information {
    background-color: lightgrey;
    height: 23rem;
    border-style: solid;
    border-width: 2px;
    overflow-y: scroll;
}

#selectionPanel {
    background-color: lightgrey;
    width: 200px;
    height: 23rem;
    border-style: solid;
    border-left-style: none;
    border-width: 2px;
}