
/* GUI sketch panel + layer panel */
#simulatorGUI {
    visibility:hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#simulatorContainer {
    max-width: min-content;
}

#simulatorView {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#simulatorView span {
    text-align: center;
}

#mainContent {
    display: flex;
    flex-direction: row;
    max-height: min-content;
}

#container {
    display: flex;
}

#layerPanel {
    display: flex;
    flex-flow: column;
    margin:0;
    padding:0;
}

#layerPanel form {
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    box-sizing: border-box;
    background-color: lightgrey;
    border-style: solid;
    border-width: 2px;
    flex-grow: 1;
}
#layerPanel form div {
    border-bottom-style: solid;
    border-width: 2px;
    padding-left: 1.7rem;
}


/* GUI informationpanel */
#informationPanelContainer {
    display: flex;
    flex-direction: row;
}

#informationPanel {
    flex-grow: 1;
}
#informationTitle {
    /*display: inline-block;*/
}

#information {
    background-color: lightgrey;
    height: 23rem;
    border-style: solid;
    border-width: 2px;
    overflow-y: scroll;
    position: relative;
}

#informationPanel img {
    height: 15px;
}

#information .information_item .input_readonly {
    background: transparent;
    border: none;
    outline: none;
}
#information .information_item .input_readwrite {
    background: transparent;
    border: none;
    outline: none;
}

#selectionPanel {
    background-color: lightgrey;
    width: 200px;
    height: 23rem;
    border-style: solid;
    border-left-style: none;
    border-width: 2px;
}

#edit_button {
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 0.5em;
    visibility: visible;
}

#cancel_button {
}

#save_button {
    margin-right: 0.2em;
}

#saveclose_button_div {
    width: fit-content;
    position: absolute;
    right: 0%;
    top: 0%;
    margin: 0.5em;
    visibility: hidden;
}


/* Tooltip styling from W3Schools https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_left */
.customtooltip {
    position: relative;
    display: inline-block;
}

.customtooltip .customtooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 150%;
}

.customtooltip .customtooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.customtooltip:hover .customtooltiptext {
    visibility: visible;
}