@page "/fetchdata"
@inject HttpClient Http
@using MicrofluidSimulator.SimulatorCode.DataTypes

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (true)
{
    <p><em>Loading...</em></p>
}
else
{
    
    
    
    
       
}


@code{
    
    protected override async Task OnInitializedAsync()
    {
       
        
    }

    
}
    

 