@page "/"

<PageTitle>Index</PageTitle>

<h1>Digital Microfluidic Simulator Framework</h1>
<p>
This is the index page, and can be swapped for other parts, such as the protocol designer, etc.
</p>
<p>
Navigate to the "Simulator" page to access the DMF simulation.
</p>

@code{

}
