@page "/"

<PageTitle>Index</PageTitle>

<h1>Digital Microfluidic Simulator Framework</h1>
<p>
    To run the Simulator, navigate to the "Simulator" page and upload a configuration and protocol. 
</p>
<p>
    Documentation and a sample data can be found on the <a href="https://github.com/DracusC/Development-of-a-simulation-framework-for-digital-microfluidic-biochips" target="_blank">GitHub</a>.
</p>

@code{

}
