@page "/"
@page "/JoelsPage"
@using MicrofluidSimulator.Components
@using Microsoft.JSInterop
@using SimulatorCode
@using System.Text.Json.Serialization
@using MicrofluidSimulator.SimulatorCode.Simulator
@inject IJSRuntime JsRuntime
@inject HttpClient Http
@using MicrofluidSimulator.SimulatorCode.DataTypes.JsonDataTypes
@using MicrofluidSimulator.SimulatorCode.View
@using System.Diagnostics
@using System.Text.Json

@if(ModalOpen){
    <ModalDialog  @ref=editorModal Title="Information editor" Text = "INSERT" OnClose="@CloseModal" OnSubmit="@SubmitModal"/>
}

<h3>Welcome to the simulator</h3>

<div id="simulatorGUI">
    <div id="simulatorContainer">
        <div id="mainContent">

            <div id="simulatorView">
                <span>BOARD NAME</span>
                <div id='container'></div>
            </div>
            
            <div id="layerPanel">
                <span>Layer Panel</span>
                <form name="layer">
                    
                </form>
            </div>
        </div>

        <div id="informationPanelContainer">
            <div id="informationPanel">
                <div id="informationTitle">
                    <span>Information Panel</span>
                    <div class="customtooltip">
                        <img src="assets/edit_icon.png" />
                        <span class="customtooltiptext">Edit information</span>
                    </div>
                </div>
                
                <div id="information">
                    <button id="edit_button" class="btn btn-primary">Edit</button>
                    <div id="informationElements"></div>
                </div>
            </div>

            <div id="">
                <span>Selection Panel</span>
                <div id="selectionPanel">

                </div>
            </div>
        </div>


        <button id="nextStep" class="btn btn-primary" @onclick="NextStep">Next Step</button>
        <button class="btn btn-primary" @onclick="Play">Play</button>
    </div>
</div>



<RadzenSlider TValue="int" Min="-100" Max="100"></RadzenSlider>

<button class="btn btn-primary" @onclick="OpenModal">MODAL</button>

@functions{
    async void setP5() {
        await JsRuntime.InvokeAsync<object>("setp5");
    }
}

@code {

    // ACTUAL CODE BELOW
    GUIBroker guibroker = new GUIBroker();

    bool test = true;
    Stopwatch stopwatch = new Stopwatch();

    private void NextStep() {
        if(test) { stopwatch.Start(); test = false; } else {stopwatch.Stop(); Console.WriteLine("SW: " + stopwatch.ElapsedMilliseconds); stopwatch.Reset(); test = true; }
        simulator.simulatorStep();
        guibroker.update_board(simulator.Container);
    }

    public void Play() {
        Console.WriteLine("Play called");
        guibroker.change_play_status();
    }

    private async Task RunNextSimulatorStep() {
        if (simulator.ActionQueue.Count != 0) {
            Console.WriteLine(simulator.ActionQueue.Count);
            NextStep();
        }
    }

    // Used to call C# code from JS
    private static Func<Task> CallPlaceHolder;
    protected override void OnInitialized() {
        base.OnInitialized();
        CallPlaceHolder = RunNextSimulatorStep;
    }
    [JSInvokable]
    public static async Task JSSimulatorNextStep() {
        await CallPlaceHolder.Invoke();
    }

    private JsonContainer? container;
    private Simulator? simulator;
    private MicrofluidSimulator.SimulatorCode.DataTypes.ElectrodesWithNeighbours[]? electrodesWithNeighbours;
    protected override async void OnAfterRender(bool firstRender) {
        Console.WriteLine("FIRST == " + firstRender);
        if(firstRender) {
            Console.WriteLine("TEST");
            setP5();
            container = await Http.GetFromJsonAsync<JsonContainer>("sample-data/platform640v2.json");
            electrodesWithNeighbours = await Http.GetFromJsonAsync<MicrofluidSimulator.SimulatorCode.DataTypes.ElectrodesWithNeighbours[]>("sample-data/platform640v2neighbours.json");
            simulator = new Simulator(null, container, electrodesWithNeighbours);

            guibroker.set_jsruntime(JsRuntime);
            guibroker.update_board(simulator.Container);
            guibroker.initialize_board(container.information);
        }
    }



    // MODAL CODE
    ModalDialog editorModal;
    public bool ModalOpen { get; set; }
    private async Task CloseModal(bool accepted)
    {
        ModalOpen = false;
        StateHasChanged();
    }
    private async void OpenModal()
    {
        ModalOpen = true;
        StateHasChanged();
    }
    private async Task SubmitModal(bool accepted)
    {
        KeyValuePair<string, Dictionary<string, string>> result = editorModal.getElementOnSumbit();

        string jsonString = Newtonsoft.Json.JsonConvert.SerializeObject(result.Value);
        Console.WriteLine(jsonString);
        Electrodes el = Newtonsoft.Json.JsonConvert.DeserializeObject<Electrodes>(jsonString);

        foreach (var property in el.GetType().GetProperties())
            {
                Console.WriteLine(property.Name + ": " + property.GetValue(el, null));
            }

        ModalOpen = false;
        StateHasChanged();
    }

}