@page "/JoelsPage"
@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime


<h1>Hey, im Jon!</h1>

<h3>Welcome to the simulator</h3>

<div id='container'></div>

@functions{
 
 
    async void setP5()
    {
        await JsRuntime.InvokeAsync<object>("setp5");
    }
}

@code {
    protected override void OnAfterRender(bool firstRender) {
        if(firstRender) {
            setP5();
        }
    }
}